[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "libs/FFTConvolver"]
	path = libs/FFTConvolver
	url = git@github.com:grawlinson/FFTConvolver.git
